@model IEnumerable<BulkyBook.Models.Product>

@{
	var option = Context.Request.Query["option"];
}

<div >
	<div class="text-center">     
		<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-inner">
			<div class="carousel-item active">
			  <img src="~/img/Ad1.jpg" class="d-block w-100" alt="tu" width = "250" height="500">
			</div>
			<div class="carousel-item">
			  <img src="~/img/Ad2.jpg" class="d-block w-100" alt="tu" width = "250" height="500">
			</div>
			<div class="carousel-item">
			  <img src="~/img/123.png" class="d-block w-100" alt="xi" width = "250" height="500">
			</div>
			<div class="carousel-item">
			  <img src="~/img/saul.jpg" class="d-block w-100" alt="saul" width = "250" height="500">
			</div>
		  </div>
		  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		  </button>
		  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		  </button>
		</div>
    
	</div>
</div>

	
<div class="w-100 mb-3" style="background-color:#0d131f">
	下方資料僅供測試
</div>


<div class="container border border-3 " style="border-radius: 10px;border-color:#0c1321">

	<div class="row pb-3">
		<div id="option" class="col list-group pt-3">
		  <a asp-area="Customer" asp-controller="Home" asp-action="Index"
			   class="list-group-item list-group-item-action @(string.IsNullOrEmpty(option)  ? "active" : "")" aria-current="true">
			全部
		  </a>
		  @* <a asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-option="虛擬" 
		  class="list-group-item list-group-item-action">虛擬</a>
		  <a asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-option="食品"
		  class="list-group-item list-group-item-action">食品</a> *@

			@foreach (var category in ViewBag.categories)
			{
				<a asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-option=@category.Name
				   class="list-group-item list-group-item-action  @(option == category.Name ? "active" : "") ">@category.Name</a>
			}
		</div>

		<div id="productPartial" class="col-9 row">
			<partial name="~/Views/_productPartial.cshtml" model=Model />
			@*<div id="product"></div>*@
		</div>
		
	</div>
</div>

@*<script>
$(document).ready(function () {
    // 當 Select 的值改變時，載入對應的部分視圖內容
    $("#option").click(function () {
        var option = $("#option Option:active").text();
        $.ajax({
            type: 'GET',
            url: "/Customer/Home/Index?option=" + option, // 請自行替換成你的部分視圖控制器的路徑
            success: function (result) {
                $('#product').html(result);
            },
            error: function (xhr) {
                console.log(xhr.responseText);
            }
        });
    });
});
    </script>*@