@model IEnumerable<BulkyBook.Models.Product>


<div class="min-vw-100 ">
	<img src="~/img/backg.jpg" class="w-100"/>
	<div class="w-100 " style="background-color:#0d131f;align-content:center;">123</div>
</div>
<div class="container">

	<div class="row pb-3">
		<div id="option" class="col list-group pt-3">
		  <a asp-area="Customer" asp-controller="Home" asp-action="Index"
		  class="list-group-item list-group-item-action" aria-current="true">
			全部
		  </a>
		  <a asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-option="虛擬" 
		  class="list-group-item list-group-item-action">虛擬</a>
		  <a asp-area="Customer" asp-controller="Home" asp-action="Index" asp-route-option="食品"
		  class="list-group-item list-group-item-action">食品</a>
		  
		</div>
		<div id="productPartial" class="col-9 row">
			<partial name="~/Views/_productPartial.cshtml" model=Model />
		</div>
		
	</div>
</div>
