
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-warning">ESG 總表</h2>
        </div>
	</div>
</div>
<div class="container p-3" >
<table id="tbltable" class="table table-bordered table-striped font1" style="width:100%">
	<thead >
		<tr>
			<th>證券代號</th>
			<th>公司名稱</th>
			<th>SusESG</th>
			<th>MsciESG</th>
			<th>FtseESG</th>
			<th>IssESG</th>
			<th>SapESG</th>
			<th>TwCompanyRank</th>
			<th>Refi</th>
		</tr>
	</thead>
	<tbody>
        
    </tbody>
</table>
</div>
@section Scripts{
    <script src="~/js/Esg.js"></script>
}